POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=aerolinea_db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/aerolinea_db

PROJECT_NAME="Regional Airline Booking System"
API_V1_PREFIX=/api/v1

